
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(223, 216, 216, 0.055);
}

header {
    background-color: rgb(36, 117, 238);
    padding: 10px;
    width: 100;
    border-bottom: 10px solid black;
}

h1 {
    color: rgba(0, 0, 0, 0.888);
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 2%;
}

div {
    background-color: rgb(148, 214, 239);
}

ul {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    list-style-type: none;
}

button{
    cursor: pointer;
    color: white;
    background-color: rgba(43, 36, 253, 0.558);
    border-radius: 5px; 
}

button:hover {
    background-color:  rgba(122, 132, 241, 0.829);
}

input[type="text"] {
    border: none;
    outline: none;
}

input[type="checkbox"] {
    margin-left: 10px;
}

#Header {
    color: rgba(182, 204, 242, 0.888);
}

.Container {
    display: flex;
}

.Application {
    flex: 1;
    border: 5px solid black;
    background-color: white;
    margin: 5px;
}

#Add-Container {
    display: flex;
}

.Add {
    flex: 1;
}









